body {
    margin: 0;
    padding: 0;
}



.tablecolumn {
    width: 110px;
    height: 110px;
    display: inline-block;
    text-align:center;
}

.tablecolumn img {
    height:110px;
    width:110px;
    display:inline-block;
    margin:auto;
}

#loadingBlock{
    position:absolute;
    top:0;
    left:0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: black;
    margin: 0;
}

#loadingBlock #loadingMiddleBox{
    margin: auto;
}

#loadingBlock #loadingMiddleBox img#loadingPic2{
    width:50px;
    height: 50px;
    display: block;
    margin: auto;
}


#elementSelectBox button{
    width:50px;
    height: 50px;
    /*border:3px blue solid;*/
}
