<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet"  href="css/index.css">

<script src="js/html2canvas.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>



<body>

    <div class="container-fluid" id="indexSheet">
    	<!-- <div class="row" id="loadingBlock" :style="loadingPic.blockStyle">

    		<div id="loadingMiddleBox">
    			<p class="text-white">猜猜我是誰?</p>
	    		<p><img @load="alertSthing" :style="loadingPic.imageStyle" :src="`http://www.tosapp.tw/source/plugin/webtech_tosys/data/card/card_`+loadingPic.randomNumber+`.png`"  id="loadingPic1"></p>
	        	<img src="img/loading.gif" id="loadingPic2" >
    		</div>
    		
        </div> -->
    	<!-- 元素版開始 -->
        <div class="row" id="elementTable" :style="elementTableStyle">
        	<div class="col-sm-8" >
		        		<img :src="mousePicSetting.src" :style="mousePicSetting.style"><!--滑鼠圖標-->
		            <!-- 現在的位置是在第{{indexLocate}}個元素 -->
		            <div id="elementBoard">
		            <div v-for="i in 5" >
		            	<div v-for="j in 6" class="tablecolumn" :style="{background:elementBoard[6*i+j-7].background}" :data-index="elementBoard[6*i+j-7].index" @mousemove="test2($event)"  @mouseout="test1" @mousedown="test4" @mouseup="test5(6*i+j-7)">
		            		<img :src="elementBoard[6*i+j-7].element" alt="" :data-index="elementBoard[6*i+j-7].index" :style="{opacity:elementBoard[6*i+j-7].opacity}">
		            	</div>
		            </div>
		            </div>
		           
		            
        	</div>
        	<div class="col-sm-4">
        		<h3><span class="badge badge-primary">元素選擇</span></h3>
        		<button @click="resetElementSelect">還原預設</button>
        		 <!--元素選擇框-->
	            <div id="elementSelectBox">
	                <button type="button" v-for="(v,k) in elementSelectBox" :style="{backgroundImage:`url(`+v+`)`,backgroundRepeat:'no-repeat', backgroundPosition:'center center',backgroundSize: 'contain',borderColor:elementSelectBoxButton[k]}" :data-dataInfo="v" :data-dataIndex="k" @click="elementSelectEvent"></button>
	            </div>
	            <div>
	            	<input type="file" name="imageUpload" id="imageUpload" @change="handleFiles" :data-dataInfo="sectionImgUploadData">
	            </div>

        		<h3><span class="badge badge-primary">版面變換</span></h3>
        		<button @click="randomBoard">隨機版面</button>
	            <button @click="boardAll">轉換全版</button>
	            <button @click="localBoardSet">轉換為該版面</button>
	            
        		<h3>
        			<span class="badge badge-primary">版面儲存</span>
        			<span :style="fixAlert.style">{{fixAlert.text}}</span>
        		</h3>
        		<button @click="saveElementBoard">儲存至資料庫</button>
        		<button @click="saveToLocal">儲存該版面</button>
        		<button @click="deleteLocal">清除暫存</button>
        		<button @click="shareAndCopyLink">複製連結</button>
        		
        		<div id="localDivOuter">
        			<div v-for="(v,k) in localStorageData" id="localDiv" @click="localSelectEvent" :data-index="k" :style="{background:localStorageDataStyle[k]}" @mousemove="localSelectMousemove" >
	        			<img :src="v.src">
	        			<input type=""  v-model="localStorageData[k].name" @change="localDataNameEvent">
        			</div>
        		</div>
        		
        		
        		
	            
        	</div>
        	
        </div>
        <!-- 元素版結束 -->
    </div>

</body>
</html>
<script src="https://www.gstatic.com/firebasejs/5.2.0/firebase.js"></script>
<script src="js/index.js"></script>
